<div class="container">
  <h1 style="text-align: center">Todo APP</h1>
  <div class="card">
    <div class="error">{{(error$ | async)?.error?.message}}</div>
    <div>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Task</mat-label>
        <input (keyup.enter)="addTask()" [formControl]="nameController" matInput type="text">
      </mat-form-field>

      <button (click)="addTask()" [disabled]=" nameController.invalid" class="w-full mb-4" color="primary"
              mat-flat-button type="button"><mat-icon>add</mat-icon> Add</button>
    </div>

    <div *ngFor="let task of tasks$ | async">
      <div class="task">
        <div (click)="toggleComplete(task)" [class.completed]="task.isComplete" class="task__title-container">
          <div class="task__title">
            {{task.name}}
          </div>
        </div>
        <div class="task__delete">
          <button (click)="deleteTask(task)" color="warn" mat-button type="button"><mat-icon>delete</mat-icon></button>
        </div>

      </div>

    </div>
    <div *ngIf="loading$ | async" class="mt-4">
      <mat-progress-bar  color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>

